coverage[toml] == 7.*
pytest == 9.0.*; python_version > "3.9"
pytest == 8.4.*; python_version <= "3.9"
pytest-cov == 7.0.*
pytest-timeout == 2.4.*
pytest-xdist == 3.8.*
black == 25.12.*; python_version > "3.9"
black == 25.11.*; python_version <= "3.9"
moto[cloudformation,s3] == 5.1.*
mypy == 1.19.*
ruff == 0.14.*
twine == 6.2.*
